{% extends "blackjack/blackjackbase.html.twig" %}

{% block body %}

<div class="form-container">
    <form action="{{ path('blackjack') }}" method="post">
        <div class="player-form">
            <label for="name1">Spelare 1:</label>
            <input type="text" id="name1" name="name1" required>
            <label for="bet1">Satsning:</label>
            <input type="number" id="bet1" name="bet1" required min="10">
        </div>

        <div class="player-form">
            <label for="name2">Spelare 2:</label>
            <input type="text" id="name2" name="name2" required>
            <label for="bet2">Satsning:</label>
            <input type="number" id="bet2" name="bet2" required min="10">
        </div>

        <div class="player-form">
            <label for="name3">Spelare 3:</label>
            <input type="text" id="name3" name="name3" required>
            <label for="bet3">Satsning:</label>
            <input type="number" id="bet3" name="bet3" required min="10">
        </div>
        <button class="blackjackbutton" type="submit">Spela</button>
    </form>
</div>

{% endblock %}
