{% extends "base.html.twig" %}

{% block body %}
    <h2>Introduktion</h2>

    <h2>Codestyle</h2>
        <p>

        </p>

    <h2>Coverage</h2>
        <p>
            Syftar på hur väl koden 
        </p>
        <img src="https://scrutinizer-ci.com/g/Grimgoren/Mvc/badges/coverage.png?b=main" alt="Code Coverage" />


    <h2>Complexity</h2>
        <p>
            
        </p>

    <h2>Cohesion</h2>
        <p>
            
        </p>

    <h2>Coupling</h2>
        <p>
            
        </p>

    <h2>CRAP</h2>
        <p>
            
        </p>

    <h2>Phpmetrics</h2>
        <p>

        </p>

    <h2>Scrutinizer</h2>
        <p>
            
        </p>

    <h2>Förbättringar</h2>
        <p>
            
        </p>

    <h2>Diskussion</h2>
        <p>
            
        </p>

{% endblock %}