{% extends "base.html.twig" %}
{% block body %}
<h1>Shuffled Cards</h1>
<ul>
    <p>Deck has been reset!<p>
    <p>Remaining cards: {{ deckCount }}</p>
    {% for card in cards %}
    <div class = card-container>
        <div class = allcards>
            <p>{{ card.getAsString() }}</p>
        </div>
    </div>
    {% endfor %}
</ul>
{% endblock %}
