{% extends 'base.html.twig' %}

{% block title %}Lägg till en bok{% endblock %}

{% block body %}
<h1>Lägg till en bok</h1>
<form action="{{ path('library_create') }}" method="post">
    <label for="title">Titel:</label>
    <input type="text" id="title" name="title"><br>

    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn"><br>

    <label for="author">Författare:</label>
    <input type="text" id="author" name="author"><br>

    <label for="picture">Bild URL:</label>
    <input type="text" id="picture" name="picture"><br>

    <button type="submit" class="button-86">Lägg till</button>
    <div class="button-container">
        <a href="{{ path('library-page') }}" class="button-86">Tillbaka</a>
    </div>
</form>
{% endblock %}
