{% extends 'base.html.twig' %}

{% block title %}Sök efter en bok{% endblock %}

{% block body %}
<h1>Sök efter en bok</h1>
<form action="{{ path('library_search_html') }}" method="post">
    <label for="search"></label>
    <input type="text" id="search" name="search"><br>
    <input type="submit" value="Sök">
</form>

<ul>
    <li class="link-color"><a class="link-color" href="{{ path('library-addBook-page') }}">Lägg till bok</a></li>
    <li class="link-color"><a class="link-color" href="{{ path('library_show_all_html') }}">Visa alla böcker</a></li>
</ul>
{% endblock %}
