{% extends 'base.html.twig' %}

{% block title %}Bibliotek{% endblock %}

{% block body %}
<h1>Bibliotek</h1>
<div class="search-container">
    <form action="{{ path('library_search_html') }}" method="post">
        <label for="search"></label>
        <input type="text" id="search" name="search" class="search-input">
        <button type="submit" class="button-86" value="Sök">Sök</button>
    </form>
</div>

<div class="button-container">
    <a href="{{ path('library_show_all_html') }}" class="button-86">Visa alla böcker</a><br>
    <a href="{{ path('library-addBook-page') }}" class="button-86">Lägg till bok</a><br>
</div>

{% endblock %}
