<ul>
    {% for item in libraryItems %}
        <li>
            Title:</strong> {{ item.title }}<br>
            ISBN:</strong> {{ item.ISBN }}<br>
            Author:</strong> {{ item.author }}<br>
            Picture:</strong> {{ item.picture }}<br>
        </li>
    {% endfor %}