{% extends "base.html.twig" %}

{% block title %}Magic number{% endblock %}

{% block body %}
    <h1 class="magicnumber">Magic number</h1>
        <div class="column">
            <p class="magicnumber">{{ number }}</p>
        </div>
{% endblock %}