{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<h1>Report</h1>
    <h2 id="kmom01">Kmom01</h2>
    <h1>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</h1>
    <p>I stort sätt inga förkunskaper (gått men ännu inte färdig med objektorienterad python)</p>

    <h1>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå 
    för att kunna komma igång och skapa sina första klasser?</h1>
    <p>Ett objekt är en instans av en klass. När du skapar ett objekt, använder du 
    klassens definition för att tilldela det egenskaper och möjliggöra att det kan utföra handlingar genom dess metoder.
    En klass i PHP är som en blueprint för att skapa objekt. Den definierar variabler
     och funktioner som objekten skapade från klassen kommer att ha.</p>


    <h1>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</h1>
    <p>Väldigt stökig och rörig, strukturen på hela grejen är väldigt utsprid och oorganiserad enligt mitt tycke. Det tar längre tid än vad 
    det borde göra för att åstadkomma enkla saker, visst det löser sig efter att man kommit in i det men från en första blick så finns det inte 
    mycket mer att säga än att det är en enda stor röra.</p>

    <h1>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? 
    Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</h1>
    <p>Date and Time, "Calculating with DateTime is possible with the DateInterval class". Artikeln och just den sektionen highlightar hur ma arbetar med tid
    och hur man kan beräknar tid (exempelvis skillnad på x och y tid), vilket säkert kan komma till användning. Även kapitell 9 (templating) skrivs det om olika fördelar
    med templating och varför man använder det, vilket självklart är relevant just för detta kmom med twig. De går även in på att just PHP inte är särskilt
    utvecklat för templating och att vi därför använder twig "While PHP has evolved into a mature, object oriented language, it hasn’t improved much as a templating language."</p>

    <h1>Vilken är din TIL för detta kmom?</h1>
    <p>Mycket repition med exempelvis SASS, Twig och självklart PHP.</p>

    <h2 id="kmom02">Kmom02</h2>
    <p></p>
    <h2 id="kmom03">Kmom03</h2>
    <p></p>
    <h2 id="kmom04">Kmom04</h2>
    <p></p>
    <h2 id="kmom05">Kmom05</h2>
    <p></p>
    <h2 id="kmom06>Kmom06</h2>
    <p></p>
    <h2 id="kmom07">Kmom07</h2>
    <p></p>
    <h2 id="kmom08">Kmom08</h2>
    <p></p>
{% endblock %}
